
@media  screen and (max-width : 968px) {
    .carousel-caption h1{
        font-size: 35px;
    }
    .footer-box{
        border: none;
    }
}
@media  screen and (max-width : 575px) {
    .carousel-caption h1{
        font-size: 25px;
    }
    .carousel-caption p{
        font-size: 15px;
    }
    .inner-tile h1{
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    #working-idea .col-lg-6 h2{
        font-size: 1rem;
    }
}