@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}
/* font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif; */
body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
section {
    padding: 80px 0;
}
.topbarMain {
    background: #f5f5f5;
}
.topbar-wrapper.d-flex {
    justify-content: space-between;
}
.phone {
    width: 210px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px 10px;
}
.email {
    padding: 15px 10px;
}
.social {
    width: 140px;
    float: left;
}
.social a {
    display: block;
    padding: 15px;
    border-right: 1px solid #ddd;
    color: #2d2d2d;
}
.social a:nth-child(1) {
    border-left: 1px solid #ddd;
}
.social a i:hover {
    color: #ff5200;
    transition: 0.5s;
}
.phone i {
    color: #ff5200;
    font-size: 16px;
}

.email i {
    color: #ff5200;
}

.logo {
    width: 110px;
    margin-top: 22px;
}
.navbar {
    padding: 0 !important;
}
ul.menu-item li {
    position: relative;
}

.nav li a {
    text-decoration: none;
    color: #0e0e0e;
    /* padding: 30px 17px; */
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s;
}
#active a {
    color: #ff5200;
}
.nav li a:hover {
    color: #ff5200;
}

/* home-slider */
#homeSlider {
    padding: 0 !important;
}
.carousel-indicators {
    cursor: pointer;
}
.carousel-item {
    height: 640px;
}
.carousel-img-1 {
    background: url(image/slide-1.jpg);
    background-size: cover;
    background-position: center;
}
.carousel-img-2 {
    background: url(image/slide-2.jpg);
    background-size: cover;
    background-position: center;
}

.carousel-caption h1 {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 30px;
}
.carousel-caption p {
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 40px;
}

.worker-btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    padding: 15px 25px;
    background: #ff5200;
    border-radius: 3px;
    margin-bottom: 120px;
    letter-spacing: 1px;
    cursor: pointer;
}
button.worker-btn:hover {
    background: #000;
    transition: 0.5s;
}

/* services */
section.services {
    background: #ddd;
}
.singlebox {
    text-align: center;
    padding: 32px 15px;
    background: #fff;
    transition: 0.5s;
}

.service-icon i {
    font-size: 40px;
    color: #ff5200;
    margin-bottom: 20px;
}

.service-title h2 {
    margin: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.servicedesc p {
    font-size: 15px;
    color: #656565;
    margin-bottom: 25px;
    line-height: 1.5;
}

.slink a {
    text-decoration: none;
    color: #ff5200;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}
.slink a i {
    font-size: 12px;
    transform: translateX(0);
    transition: 300ms;
}
.singlebox:hover {
    background: #ff5200;
    color: #fff;
    cursor: pointer;
}
.singlebox:hover a {
    color: #fff;
    text-decoration: none;
}
.singlebox:hover i {
    color: #fff;
}
.singlebox:hover p {
    color: #fff;
}
.slink h3 a:hover i {
    transform: translateX(10px);
}

/* working */
.image {
    margin-right: 30px;
}
.image img {
    width: 100%;
}
.tile-tag h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 1.2;
    padding-top: 0;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.para p {
    color: #656565;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
}
ul.working-option {
    margin-bottom: 20px;
    transition: 0.5s;
}
.working-option li {
    padding: 10px;
}
.working-option li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.working-option li a i {
    font-size: 12px;
    margin-right: 6px;
    transform: translateX(0);
    transition: 0.3s;
}
.working-option li a:hover {
    transition: 0.3s;
    color: #ff5200;
}
.working-option li a:hover i {
    transform: translateX(6px);
}
button.start {
    margin-left: 7px;
}
button.start {
    border: none;
    text-decoration: none;
    color: #fff;
    background: #ff5200;
    padding: 17px 30px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
button.start:hover {
    background: #000;
    transition: 0.5s;
}
/* Counting Number */
#counter {
    padding-top: 3rem;
    height: 300px;
    background: url(image/why-choose-us1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    position: relative;
}
.overlay {
    padding-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e0e0e;
    opacity: 0.7;
    overflow: scroll;
}
.singleContent {
    margin-right: 20px;
    text-align: center;
    color: #fff;
}
.singleIcone {
    font-size: 50px;
    margin-bottom: 16px;
}

.singleTitle h1 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.singleTitle2 h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.title-content {
    text-align: center;
}

/* projects Area */
#projects {
    background: #f5f6f6;
    position: relative;
}
.more-title h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
}
.more-title h1::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #ff5200;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.more-para {
    width: 500px;
    margin: auto;
    font-size: 16px;
    color: #565656;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}
.service-item img {
    width: 100%;
    margin-bottom: 15px;
}
.serv-title h3 {
    font-weight: 700;
    margin-bottom: 10px;
}
.serv-para p {
    color: #656565;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Pricing Area */
#pricing .container {
    background: #e8e8e8;
}
.price-concept {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}
.price-type h2 {
    text-transform: uppercase;
    font-weight: 700;

    margin-top: 20px;
    margin-bottom: 20px;
}
.price h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.price h2 span {
    font-size: 20px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
}
.price-reason {
    line-height: 2;
    color: #656565;
    margin-bottom: 20px;
}
.price-reason i {
    font-size: 12px;
    margin-right: 6px;
    color: #ff5200;
}
.start-btn {
    border: none;
}
.start-btn h5 {
    border: none;
    background-color: #ff5200;
    color: #fff;
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700px;
    border-radius: 3px;
    letter-spacing: 1px;
}
.start-btn h5:hover {
    background: #000;
    color: #fff;
    transition: 0.3s;
}

/* Working_Idea */
#working-idea {
    padding: 0;
}
.one {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.left-side {
    background: url(image/s02.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right-side {
    background: #222;
}
.inner-column {
    padding: 70px;
    color: #fff;
}
.inner-tile h1 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 15px;
}
.inner-para p {
    line-height: 1.7;
}
.inner-idea {
    margin-bottom: 45px;
}
.r-icon i {
    font-size: 45px;
    color: #ff5200;
}
.inner-idea h2 {
    margin-bottom: 10px;
}
.inner-para p {
    margin-bottom: 35px;
}
.inner-column h2:hover {
    color: #ff5200;
    cursor: pointer;
    transition: 0.3s;
}

/* Team-Member */

.team-member {
    border: 1px solid #e8e8e8;
    margin-bottom: 50px;
}

.member-img img {
    width: 100%;
    margin-bottom: 15px;
}

.member-name h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.member-status p {
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    color: #565656;
    margin-bottom: 17px;
}
.member-img {
    overflow: hidden;
    position: relative;
}

.socialIcons {
    width: 100%;
    position: absolute;
    bottom: 70px;
    text-align: center;
}

.socialIcons a i {
    color: #fff;
    font-size: 16px;
}
.socialIcons a {
    display: inline-block;
    background: red;
    width: 30px;
    height: 30px;
    line-height: 2;
    text-align: center;
    border-radius: 100%;
    transition: 0.5s;
    opacity: 0;
}
.socialIcons a:nth-child(1) {
    background: #3a6bb1;
    color: #fff;
    transition: 0.9s;
}
.socialIcons a:nth-child(2) {
    background: #f2623b;
    color: #fff;
    transition: 0.7s;
}
.socialIcons a:nth-child(3) {
    background: #0ec8f5;
    color: #fff;
    transition: 0.5s;
}
.socialIcons a:nth-child(4) {
    background: #0094d3;
    color: #fff;
    transition: 0.2s;
}

.socialIcons a:hover {
    background: #fff;
    color: #000;
}
.socialIcons a:hover i {
    color: #000;
}
.team-member:hover .socialIcons a {
    transform: translateY(20px);
    opacity: 1;
}
.joinig {
    width: 182px;
    margin: auto;
}
.join-btn {
    border: none;
    padding: 15px 25px;
    background: #222;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
}
.join-btn:hover {
    background: #ff5200;
}

/* Project-Two */
.imagee {
    position: relative;
}
.imagee img {
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}
.head-text {
    position: absolute;
    width: 100%;
    bottom: 6px;
    left: 0;
    padding: 40px 27px 34px;
    transform: translateY(-19px);
    background-image: linear-gradient(to top, #000, transparent);
    height: auto;
    top: unset;
    opacity: 1;
    transition: 0.3s;
}
.head-text p {
    text-decoration: underline #e8e8e8;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}
.head-text h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}
.head-text a {
    position: absolute;
    bottom: 30px;
    opacity: 0;
    font-size: 15px;
    font-weight: 500;
    transform: translateX(-55px);
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.imagee:hover a {
    transform: translateY(10);
    transform: translateX(5px);
    opacity: 1;
    background-color: transparent;
}
.imagee:hover .head-text {
    position: absolute;
    padding: 40px 27px 70px;
    transition: 0.5s;
    background-image: linear-gradient(to top, #000, transparent);
    height: auto;
    top: unset;
    opacity: 1;
}

/* News - Part */

.news-item {
    border: 1px solid #ddd;
    margin-right: 30px;
    overflow: hidden;
}
.news-pic {
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
}
.news-pic img {
    width: 100%;
    overflow: hidden;
    transition: 0.2s;
}
.news-pic img:hover {
    overflow: hidden;
    transform: scale(1.05);
}
.comment-box {
    margin-left: 15px;
    overflow: hidden;
}
.date {
    display: inline-block;
    font-size: 15px;
    color: #777;
}
.comment-box i {
    margin: 0 11px 0 11px;
    color: #ff5200;
    font-size: 22px;
    float: left;
}
.cmnt-count {
    font-size: 15px;
}
.cmnt-count:hover {
    color: #ff5200;
    transition: 0.3s;
    cursor: pointer;
}
.comment-box {
    margin-bottom: 15px;
}
.news-item h3 {
    margin-left: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333333;
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px;
}
.news-item h3:hover {
    color: #ff5200;
}
.para {
    margin-left: 15px;
    color: #777;
    margin-bottom: 15px;
}
.learn {
    margin-bottom: 15px;
}
.learn a {
    text-decoration: none;
    color: #ff5200;
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.learn a i {
    font-size: 14px;
}

/* Subscribe */

section#subscribe {
    padding: 0;
    position: relative;
    margin-bottom: -75px;
}
#subscribe .container {
    background: #ff5200;
    border-radius: 4px;
    padding: 19px 10px;
}

.subscribe-area {
    margin: 0px 28px;
}
.subscribe-area h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

input.bt-email {
    border: none;
    padding: 15px;
    border-radius: 30px 0 0 30px;
}

form {
    position: relative;
    margin-bottom: 15px;
}

button.bt-submit {
    position: absolute;
    top: 0;
    right: 46px;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 800;
    background: #000;
    color: #fff;
}

.contact-num {
    color: #fff;
}

.contact-num p {
    margin-bottom: 8px;
}

.follow-link {
    overflow: hidden;
    text-decoration: none;
}

.follow-link a {
    float: left;
    margin-right: 10px;
    color: #fff;
    width: 37px;
    height: 36px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
}

.follow-link a:hover {
    color: #000;
    background: #fff;
    transition: 0.5s;
}

/* Footer - Part - Start */

#top-footer {
    background: #000;
    padding-top: 150px;
}
.top-footer-wrapper {
    overflow: hidden;
}
.footer-box {
    overflow: hidden;
    border-right: 1px solid #ddd;
}
.brder {
    border-right: none;
}
.footer-box h3 {
    margin-bottom: 25px;
    font-size: 22px;
    color: #c5c3c3;
}
.footer-box p {
    color: #ababab;
    margin-bottom: 20px;
}
.footer-icons {
    overflow: hidden;
    padding-bottom: 39px;
}
.footer-icons a {
    text-decoration: none;
    margin-right: 10px;
}
.footer-icons a i {
    color: #ababab;
    transition: 0.3s;
}
.footer-icons a i:hover {
    color: #ff5200;
}
.footer-box p i {
    color: #ff5200;
}
.footer-box p span {
    margin-left: 22px;
}
.f-box-menu ul li {
    border-bottom: 1px dashed rgba(74, 74, 74, 0.5);
    padding-bottom: 5px;
    margin-bottom: 8px;
}
.f-box-menu ul li:last-child {
    border-bottom: none;
}
.f-box-menu ul li a {
    color: #ababab;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;
    font-size: 15px;
}
.f-box-menu ul li a i {
    font-size: 11px;
}
.f-box-menu ul li a:hover {
    color: #ff5200;
}
.footer-margin {
    margin-bottom: 29px;
}
.Rdate {
    float: left;
    width: 51px;
    height: 67px;
    background: rgb(71, 70, 70);
    color: rgb(228, 222, 222);
    text-align: center;
    margin-right: 22px;
    border-radius: 4px;
}
.Rdate h3 {
    margin-bottom: 5px;
    font-weight: 900;
}
.Rdate p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
}

.post-name h4 {
    color: #ababab;
    margin-bottom: 10px;
    transition: 0.3s;
}
.post-name h4:hover {
    color: #ff5200;
    cursor: pointer;
}
.post-name p {
    font-size: 12px;
}
.post-name p i {
    color: #ababab;
}
hr {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
/* footer part */
#footer {
    background: #000;
    padding: 15px 0;
}
.footer-wrapper {
    justify-content: space-between;
}
.copyrighter {
    font-size: 15px;
    color: #ababab;
}

.copyright-Menu ul li {
    margin-right: 10px;
}
.copyright-Menu ul li:last-child {
    margin-right: 0;
}
.copyright-Menu ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #ababab;
}

/*  */

/* ul.hover-menu {
    visibility: hidden;
    width: 190px;
    padding: 30px;
    background: #fff;
    position: absolute;
    border-top: 1px solid #ddd;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
} */
ul.hover-menu li a {
    color: #000 !important;
}

ul.hover-menu li a {
    padding: 5px;
    position: relative;
    font-weight: 300;
    text-transform: capitalize;
}

ul.hover-menu li a::before {
    content: " ";
    display: inline-block;
    width: 0px;
    height: 2px;
    background: #ff5200;
    vertical-align: middle;
    margin-right: 4px;
    transition: 0.5s;
}
ul.hover-menu li:hover a::before {
    width: 15px;
}

